{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <script src="{% static 'js/bulma.js' %}"></script>
    {% block style %}

    {% endblock style %}
    <title>Plants & Flowers {% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container is-max-desktop">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="{% url 'homepage' %}">
                <img src="{% static 'img/logo.png' %}" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="{% url 'homepage' %}">
                    Home
                </a>
                {% if request.user.is_authenticated %}
                <a class="navbar-item" href="{% url 'index' %}">
                    Index
                </a>
                {% endif %}  
                <a class="navbar-item" href="{% url 'about' %}">
                    About
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        APIs
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Authentication and registration
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <a class="navbar-item">
                            Flowers and plants
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    
                    {% if request.user.is_authenticated %}
                    <a class="button is-primary" href="{% url 'logout' %}">
                      <strong>Logout</strong>
                    </a>
                    <a class="button is-light">
                      Hello, {{ request.user }}
                    </a>
                      
                    {% else %}
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="{% url 'login' %}">
                      Log in
                    </a>
                    {% endif %}  
            </div>
        </nav>
    </div>
    <div class="container is-max-desktop">

      {% block content %}
      
      {% endblock content %}
    </div>
</body>
</html>